* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}


.container video {
    width: 100%;
    height: 100vh;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 90px;
    font-weight:900;
    align-items: center;
    justify-content: center;
    mix-blend-mode: multiply;
}